{% extends 'layout/base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-dark">
                    <h4 class="card-title mb-0">Reenviar E-mail de Confirmação</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Por favor, insira seu e-mail para reenviar o e-mail de confirmação.</p>
                    <form action="{{ url_for('auth.reenviar_confirmacao') }}" method="POST">
                        <!-- Incluindo o token CSRF -->
                        {{ form.csrf_token }}

                        <!-- Campo de E-mail -->
                        <div class="form-group">
                            <!-- Rótulo do campo de e-mail -->
                            {{ form.email.label(class="form-control-label") }}
                            
                            <!-- Verifica se há erros no campo de e-mail -->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.email.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>

                        <!-- Botão de Enviar -->
                        <button type="submit" class="btn btn-primary w-100">Reenviar E-mail de Confirmação</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
