{% extends 'user/perfil.html' %}


{% block head %}
    <style>
        /* Estilos para o link de Alterar Senha */
        .change-password-link {
            color: orange; /* Cor padrão do Bootstrap Primary */
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        .change-password-link:hover {
            color: #8e6215; /* Cor mais escura no hover */
            transform: scale(1.05); /* Leve aumento de tamanho */
            text-decoration: underline; /* Sublinhado no hover */
        }
    </style>
{% endblock %}

{% block form_editar_perfil %}

<div class="container">
    <hr>
    <div class="row d-flex justify-content-center">
        <!--Formulario de Editar Perfil-->
        <div class="col col-6">
            <!--Todo formulario precisa ter um metodo post e uma acao vazia-->
            <!--Sempre que eu tiver um formulario que permita subir um arquivo, dentro do form html tenho que passar um paramentro enctype="multipart/form-data" -->
            <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                <!--Token que devemos sempre cololar embaixo da tag form para deixar o formulario mais seguro-->
                {{ formeditarperfil.csrf_token }}
                <legend class="text-center">Editar Perfil</legend>

                <fieldset>

                    <!--Campo de usernmae-->
                    <div class="form-group">
                        <!--Essas classes é do Bootstrap (class="form-control-label") -->
                        {{ formeditarperfil.username.label(class="form-control-label") }}

                        <!--Fazendo aparecer os erros caso tenha um erro no username digitado-->
                        {% if formeditarperfil.username.errors %}
                            {{ formeditarperfil.username(class="form-control is-invalid") }}
                            <!--O erro-->
                            <div class="invalid-feedback">
                                {% for erro in formeditarperfil.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        <!--Caso nao tenha nenhum erro-->    
                        {% else %}
                            {{ formeditarperfil.username(class="form-control") }}
                        {% endif %}
                    </div>

                    <!--Campo de email-->
                    <div class="form-group">
                        <!--Essas classes é do Bootstrap (class="form-control-label") -->
                        {{ formeditarperfil.email.label(class="form-control-label") }}

                        <!--Fazendo aparecer os erros caso tenha um erro no username digitado-->
                        {% if formeditarperfil.email.errors %}
                            {{ formeditarperfil.email(class="form-control is-invalid") }}
                            <!--O erro-->
                            <div class="invalid-feedback">
                                {% for erro in formeditarperfil.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        <!--Caso nao tenha nenhum erro-->    
                        {% else %}
                            {{ formeditarperfil.email(class="form-control") }}
                        {% endif %}
                    </div>

                    <a href="{{ url_for('user.alterar_senha') }}" class="change-password-link d-flex align-items-center">
                        <i class="bi bi-lock me-2"></i>
                        alterar_senha
                    </a>
                    
                    
                    <!--Campo de Imagem-->
                    <div class="form-group">
                        {{ formeditarperfil.foto_perfil.label }}
                        <!-- É uma classe do bootstrap (class="form-control-file") -->
                        {{ formeditarperfil.foto_perfil(class="form-control-file") }}

                        <!--Verificar se existe algum erro-->
                        {% if formeditarperfil.foto_perfil.errors %}
                            <!--Percorer todos os erros-->
                            {% for erro in formeditarperfil.foto_perfil.errors %}
                                <!--O <br> no final do span é por acaso de aparecer mais do que um erro ele pular a linha-->
                                <span class="text-danger">{{ erro }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <hr>
                    <legend class="text-center">Cursos</legend>

                    <!--Campos dos Cursos-->
                    <!--Percorer o meu formulario e pegar todos os campos-->
                    {% for campo in formeditarperfil %}
                        <!--Verificar se o curso_ está no campo-->
                        {% if 'curso_' in campo.name %}
                            <div class="form-group">
                                {{ campo(class="form-check-input") }}
                                {{ campo.label(class="orm-check-label") }}
                            </div>
                        {% endif %}
                    {% endfor %}


                    <!--Outra forma de mostrar todos os campo dos curcos-->
                    <!--
                    <div class="form-group">
                        {{ formeditarperfil.curso_python.label(class="orm-check-label") }}
                        {{ formeditarperfil.curso_python(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ formeditarperfil.curso_java.label(class="orm-check-label") }}
                        {{ formeditarperfil.curso_java(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ formeditarperfil.curso_javascript.label(class="orm-check-label") }}
                        {{ formeditarperfil.curso_javascript(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ formeditarperfil.curso_csharp.label(class="orm-check-label") }}
                        {{ formeditarperfil.curso_csharp(class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ formeditarperfil.curso_ruby.label(class="orm-check-label") }}
                        {{ formeditarperfil.curso_ruby(class="form-check-input") }}
                    </div>
                    -->
                </fieldset>

                <!--Botao de Corfirmacao-->
                {{ formeditarperfil.botao_submit_editarperfil(class="btn btn-outline-warning mt-2") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}